.App {
    background: #282c34;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background: #4872a3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;

    &__title {
        color: white;
        font-size: 2em;
    }
}

.message {
    &__text {
        display: inline-block;
        vertical-align: middle;
        resize: none;
        width: 85%;
        height: 80px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 15px;
    }

    &__send {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;

        img {
            width: 80px;
            height: 80px;
        }
    }
}

.chat {


    ul {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 30px;
        overflow: overlay;
        height: 500px;
    }

    &-block {
        text-align: justify;
        text-align-last: justify;

        &:before {
            content: '';
            display: block;
            width: 100%;
        }

        &__name {
            padding-left: 25px;
            color: white;
            padding-top: 15px;
        }

        &__item {
            display: inline-block;
            vertical-align: middle;
            text-align: auto;
            text-align-last: auto;

            img {
                width: 90px;
                height: 90px;
                border-radius: 65px;
                overflow: hidden;
            }
            &-message {
                color: white;
                margin-left: 30px;
                padding: 10px 20px;
                border-radius: 15px         ;
                -webkit-border-radius: 15px         ;
                -moz-border-radius: 15px         ;
                -ms-border-radius: 15px         ;
                -o-border-radius: 15px         ;
                border:1px solid gray;
            }
        }
    }
}

.yourMessage {
    padding: 25px 0;
}

.myMessage {
    padding: 25px 0;
    text-align: right;
    text-align-last: right;

    .chat {
        &-block {
            text-align: right;
            text-align-last: right;

            &__name {
                padding-left: 0px;
                padding-right: 25px;
            }

            &__item {
                &-message {
                    margin-left: 0px;
                    margin-right: 30px;
                }
            }
        }
    }
}