<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form action="/signin" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Пожалуйста, авторизуйтесь!</h2>
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Name" required>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Пароль" required>
                <br>
                <input id="btn-sign" class="btn btn-lg btn-primary btn-block" type="submit" value="Авторизоваться">
            </form>
            <br>
            <a href="/signup.html">Зарегистрироваться</a>
        </div>
    </div>
    <script src="js/authentication.js"></script>
</body>
</html>