<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="form-signin" action="/signup" method="post">
                <h2 class="form-signin-heading">Пожалуйста, зарегистрируйтесь!</h2>
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Имя" required>
                <br>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Пароль" required>
                <br>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрироваться">
            </form>
            <br>
            <a href="/">Авторизация</a>
        </div>
    </div>
</body>
</html>