#myCalendar thead td {
    font-weight: bold;
    background-color: #E6E6E6;
}

#myCalendar tbody td:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

.active {
    color: white;
    background: red;
}

.today {
    background: blue;
    color: white;
}